<div class="notice--success">
    <p>J&#39;utilise ici mon approche éthique personnelle telle qu&#39;établie dans <a href="{{ site.baseurl }}/2020-12-04/ethique-normative">mon article sur l’éthique normative</a> :</p>
    <p>Elle est :</p>
    <ul>
        <li><strong>Principalement utilitariste</strong>. Je veux en première approche et dans la plupart des cas, évaluer les conséquences des actions pour déterminer leur valeur éthique, et chercher à comprendre les problèmes dans leur ensemble, complexité et diversité.</li>
        <li><strong>Complétée par des notions d’équité</strong>. Je veux favoriser des conséquences équitables pour le plus grand nombre.</li>
        <li><strong>Encadrée par un déontologisme modéré</strong>. Je veux limiter certaines décisions par des principes déontologiques (comme le consentement d’un patient) sans que ces principes m’empêchent de prendre une décision purement utilitariste si j’estime la situation suffisamment grave.</li>
        <li><strong>Minimalement prescriptive</strong>. Je ne veux pas que mes points de vue éthiques soient prescriptifs (sous forme de loi ou autre) sauf si j’estime qu’un mal substantiel peut être causé.</li>
        <li><strong>Évolutive</strong>. Je veux pouvoir réviser mes jugements éthiques quand des éléments nouveaux font leur apparition ou que j’ai une compréhension meilleure de la situation.</li>
    </ul>
</div>