.h-entry {
    .e-content {
        .image-row {
            display: flex;
            flex-wrap: wrap;
        }

        img {
            display: block;
            margin: auto;

            &.inline {
                display: inline-block;
                text-align: center;
            }

            &.small-height {
                max-height: 150px;
            }

            &.very-small-height {
                max-height: 80px;
            }

            &.small-medium-height {
                max-height: 300px;
            }

            &.medium-height {
                max-height: 400px;
            }

            &.half-width {
                max-width: 50%;
            }

            &.border {
                border: #34374c 2px solid;
            }

            & + em {
                color: #34374C;
                display: block;
                font-size: 0.85em;
                margin: auto;
                text-align: center;
            }
        }
    }
}