.h-entry {
    .e-content {
        img {
            margin: auto;
            display: block;

            &.medium-height {
                max-height: 400px;
            }
        }
    }
}