.h-entry {
    .e-content {
        img {
            display: block;
            margin: auto;

            &.medium-height {
                max-height: 400px;
            }

            &.half-width {
                max-width: 50%;
            }

            & + em {
                color: #34374C;
                display: block;
                font-size: 0.85em;
                margin: auto;
                text-align: center;
            }
        }


    }
}