.channel-title,
.book-title {
    font-size: 18px;
    font-weight: 700;
    color: #212121;
}

.book-subtitle {
    font-style: italic;
    color: #616161;
}

.book-author {
    font-weight: 700;
}

.separator {
    clear: both;
    margin-top: -1rem;

    &+hr {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

#markdown-toc > li {
    &::marker,
    > a {
        color: #ad1457;
    }
}

.chaines-youtube .page-content h2:not(#toc-toggle),
.lectures .page-content h3 {
    border-bottom: solid #ad1457 2px;
    margin-bottom: 10px;
}

.lectures .page-content h2:not(#toc-toggle) {
    background: #ad1457;
    color: white;
    padding: 10px;
    text-align: center;
    width: fit-content;
}