.video-frame {
    background-color: #777;
    display: block;
    height: 50.625vw;
    // margin-bottom: 20px;
    margin: 0 auto 5px;
    max-height: 315px;
    max-width: 560px;
    width: 90vw;
}